@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid orchid; */
}

:root {
  font-size: 62.5%;

  /* Dracula Theme */
  --color-background-blk: rgb(31, 31, 31);   /* #1F1F1F */
  --color-background: rgb(40, 42, 54);       /* #282a36 */
  --color-background-alt: rgb(68, 71, 90);   /* #44475a */
  --color-foreground: rgb(248, 248, 242);    /* #f8f8f2 */
  --color-comment: rgb(98, 114, 164);        /* #6272a4 */
  --color-cyan: rgb(139, 233, 253);          /* #8be9fd */
  --color-green: rgb(80, 250, 123);          /* #50fa7b */
  --color-orange: rgb(255, 184, 108);        /* #ffb86c */
  --color-pink: rgb(255, 121, 198);          /* #ff79c6 */
  --color-purple: rgb(189, 147, 249);        /* #bd93f9 */
  --color-red: rgb(255, 85, 85);             /* #ff5555 */
  --color-yellow: rgb(241, 250, 140);        /* #f1fa8c */
}

body {
  font-size: 1.6rem;
  background-color: var(--color-background-blk);
  font-family: 'Fira Code VF','Courier New', Courier, monospace;
  color: var(--color-foreground);
  width: 100vw;

  display: grid;
  justify-items: center;
}

.container {
  margin: 0;
  min-width: 80%;
  min-height: 100vh;
  background-color: var(--color-background);

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-flow: column;
}

.project-sidebar {
  background-color: var(--color-background-alt);
  width: 100%;
  height: 100%;
  /* transition: all 0.5s ease; */
  top: 0;
  color: var(--color-foreground);
  font-size: 3rem;
}

.logo-name-wrapper {
  margin-bottom: 2.1rem;
  display: grid;
  font-size: 4rem;
  font-weight: 600;
  place-items: center;
}
.logo-name {
  margin-top: 1rem;

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr; 
  place-items: center;
}
.logo-name__name {
  margin-left: 0.9rem;
  white-space: nowrap;
}
.logo-name__icon {
  height: 80%;
}
.project-list {
  padding-top: 2.1rem;
  padding-bottom: 0.9rem;
  padding-left: 0.9rem;
  list-style: none;
  font-size: 2rem;
  font-weight: 500;
}
.project-header {
  padding-top: 2.1rem;
  padding-bottom: 0.9rem;
  padding-left: 0.9rem;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.8rem;
  margin-bottom: 1.3rem;
  white-space: nowrap;
}

.main {
  width: 100%;
  height: 100%;
}
