@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid orchid; */
}

:root {
  font-size: 62.5%;

  /* Dimension vars */
  --dims-window-border-radius: 1.5rem;
  --dims-container-width: 80vw;
  --dims-sidebar-width: calc(var(--dims-container-width) * 0.25);
  --dims-sidebar-collapsed-width: calc(0.2 * var(--dims-sidebar-width));

  /* Dracula Theme */
  --color-background-blk: rgb(31, 31, 31);
  --color-background: rgb(40, 42, 54);
  --color-background-alt: rgb(68, 71, 90);
  --color-foreground: rgb(248, 248, 242);
  --color-button: rgb(183, 206, 206);
  --color-comment: rgb(98, 114, 164);
  --color-cyan: rgb(139, 233, 253);
  --color-green: rgb(80, 250, 123);
  --color-green-dark: rgb(2, 96, 26);
  --color-orange: rgb(255, 184, 108);
  --color-pink: rgb(255, 121, 198);
  --color-purple: rgb(189, 147, 249);
  --color-red: rgb(255, 85, 85);
  --color-red-dark: rgb(102, 0, 0);
  --color-yellow: rgb(241, 250, 140);
  --color-yellow-dark: rgb(103, 112, 4);
}

body {
  font-size: 1.6rem;
  background-color: var(--color-background-blk);
  font-family: "Fira Code VF", "Courier New", Courier, monospace;
  color: var(--color-foreground);
  width: 100vw;

  display: grid;
  justify-items: center;
}

.container {
  margin: 0;
  min-width: var(--dims-container-width);
  min-height: 100vh;
  background-color: var(--color-background);

  display: grid;
  grid-template-columns: var(--dims-sidebar-width) 1fr;
  grid-auto-flow: column;
}

.container.collapse {
  grid-template-columns: var(--dims-sidebar-collapsed-width) 1fr;
}

.project-sidebar {
  background-color: var(--color-background-alt);
  width: var(--dims-sidebar-width);
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: all 0.5s ease;
  color: var(--color-foreground);
  font-size: 3rem;
  display: grid;
  grid-template-rows: 8rem 8rem min-content 4rem;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.logo-name {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 2.1rem;
  font-size: 4rem;
  font-weight: 600;
  min-height: 100%;

  display: grid;
  grid-template-columns: 1fr 3fr;
  place-items: center;

  transition: 0.5s ease;
  opacity: 1;
}

.logo-name__name {
  margin-left: 0.9rem;
  white-space: nowrap;
  color: var(--color-button);
}

.logo-name__icon {
  height: 80%;
}

.collapse__icon {
  transform: translateX(calc((var(--dims-sidebar-width) / 2) + 2rem))
    scaleY(200%);
  transition: 0.5s ease;
}

.expand__icon {
  transform: translateX(calc((var(--dims-sidebar-collapsed-width) / 2) + 2rem))
    scaleY(200%);
  transition: 0.5s ease;
}

.project-sidebar .collapse__icon {
  cursor: pointer;
  display: inline-block;
  position: absolute;
}

.project-sidebar .expand__icon {
  display: none;
  position: absolute;
}

.project-list {
  padding-top: 2.1rem;
  padding-bottom: 0.9rem;
  list-style: none;
  font-size: 2rem;
  font-weight: 500;
}

.project-header {
  margin-top: 6.1rem;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.8rem;
  white-space: nowrap;

  transition: 0.5s ease;
  opacity: 1;
}

.project-item {
  position: relative;
  padding: 0.9rem 1.1rem;
  line-height: 1.8rem;
  height: 3.6rem;
  cursor: pointer;
  white-space: nowrap;
  display: grid;
  grid-template-columns: calc(0.2 * var(--dims-sidebar-width)) 2fr 1fr;
  align-items: center;

  transition: 0.5s ease;
  opacity: 1;
}

.project-list :first-child > .project-item-color {
  height: 1.2rem;
  width: 1.2rem;
  box-shadow: 0 0 5px 1px var(--color-button);
}

.project-item-color {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  border: none;

  place-self: center;
}

.project-item-number {
  display: grid;
  justify-items: end;

  transition: 0.5s ease;
  opacity: 1;
}

.project-add {
  display: grid;
  place-items: center;
  height: 4rem;
}

.project-add > img {
  cursor: pointer;
  height: 100%;
}

.tooltip {
  position: absolute;
  top: -2.1rem;
  left: 6.4rem;
  background-color: var(--color-background-alt);
  border-radius: 0.4rem;
  padding: 0.5rem 0.9rem;
  font-size: 1.4rem;
  opacity: 0;
  display: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.project-sidebar.collapse .tooltip {
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}

.project-sidebar.collapse {
  width: var(--dims-sidebar-collapsed-width);
  padding-left: 0;
  padding-right: 0;
}

.project-sidebar.collapse .project-header {
  visibility: hidden;
  opacity: 0;
}

.project-sidebar.collapse .project-item-text,
.project-sidebar.collapse .project-item-number,
.project-sidebar.collapse .logo-name__name {
  opacity: 0;
  display: none;
}

.project-sidebar.collapse .collapse__icon {
  display: none;
  position: absolute;
}

.project-sidebar.collapse .expand__icon {
  cursor: pointer;
  display: inline-block;
  position: absolute;
}

.project-sidebar.collapse .project-item:hover .tooltip {
  display: block;
}

.project-sidebar.collapse .logo-name {
  max-width: var(--dims-sidebar-collapsed-width);
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.project-sidebar.collapse .project-item {
  max-width: var(--dims-sidebar-collapsed-width);
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.project-sidebar.collapse .project-add {
  max-width: var(--dims-sidebar-collapsed-width);
}

.main {
  width: calc(var(--dims-container-width) - var(--dims-sidebar-width));
  height: 100%;
  transition: all 0.5s ease;

  display: grid;
  grid-template-rows: 1fr;
  place-items: center;
}

.note-list {
  height: 90%;
  width: 70%;
  list-style: none;

  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 1rem;
}

.add-note-item,
.note-item {
  padding-right: 5rem;
  padding-left: 2rem;
  margin: 0;
  background-color: var(--color-background-alt);
  border-radius: var(--dims-window-border-radius);
  font-size: 2rem;

  display: grid;
  grid-template-columns: 3rem 3fr 2fr 1fr;
  align-items: center;
}

.note-item-name {
  padding-left: 1rem;
}

.note-item-iscompleted {
  display: none;
}

.note-item-description {
  display: none;
}

.add-note-item-priority,
.note-item-priority {
  width: min-content;
  border-radius: var(--dims-window-border-radius);
  padding: 1rem;
  font-weight: 600;

  justify-self: center;
}

.add-note-item-priority.low,
.note-item-priority.low {
  background-color: var(--color-green);
  color: var(--color-green-dark);
}

.add-note-item-priority.medium,
.note-item-priority.medium {
  background-color: var(--color-yellow);
  color: var(--color-yellow-dark);
}

.add-note-item-priority.high,
.note-item-priority.high {
  background-color: var(--color-red);
  color: var(--color-red-dark);
}

.add-note-item input {
  margin: 0;
  background-color: var(--color-background-alt);
  border: none;
}

.note-view {
  height: 90%;
  width: 70%;
  margin: 0;
  font-size: 2rem;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 9fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "nav  nav  nav"
                       "name name name"
                       "date fold star"
                       "desc desc desc"
                       "warn warn warn";
  gap: 1rem;
}

.note-view input {
  margin: 0;
  background-color: var(--color-background-alt);
  border: none;
}

.note-view > * {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--color-background-alt);
  border-radius: var(--dims-window-border-radius);

  display: grid;
  align-items: center;
}

.note-nav {
  background-color: var(--color-background);

  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.note-nav-previous-todo {
  cursor: pointer;
  justify-self: start;
}

.note-nav-back-to-list {
  cursor: pointer;
  justify-self: center;
}

.note-nav-next-todo {
  cursor: pointer;
  justify-self: end;
}

.note-name {
  grid-area: name;
}

.note-duedate {
  grid-area: date;
}

.note-project {
  grid-area: fold;
}

.note-startoggle {
  grid-area: star;
  justify-items: center;
}

.note-description {
  padding: 2rem;

  align-items: start;
  grid-area: desc;
}

.note-button-warning {
  width: max-content;
  border-radius: var(--dims-window-border-radius);
  padding: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  font-weight: 600;
  background-color: var(--color-red);
  color: var(--color-red-dark);
  cursor: pointer;

  justify-self: center;
  grid-area: warn;
}

.main.collapse {
  width: calc(
    var(--dims-container-width) - var(--dims-sidebar-collapsed-width)
  );
  transition: 0;
}
