@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid orchid; */
}

:root {
  font-size: 62.5%;

  /* Dracula Theme */
  --color-background-blk: rgb(31, 31, 31);   
  --color-background: rgb(40, 42, 54);       
  --color-background-alt: rgb(68, 71, 90);   
  --color-foreground: rgb(248, 248, 242);    
  --color-button: rgb(183, 206, 206);        
  --color-comment: rgb(98, 114, 164);        
  --color-cyan: rgb(139, 233, 253);          
  --color-green: rgb(80, 250, 123);          
  --color-orange: rgb(255, 184, 108);        
  --color-pink: rgb(255, 121, 198);          
  --color-purple: rgb(189, 147, 249);        
  --color-red: rgb(255, 85, 85);             
  --color-yellow: rgb(241, 250, 140);        
}

body {
  font-size: 1.6rem;
  background-color: var(--color-background-blk);
  font-family: 'Fira Code VF','Courier New', Courier, monospace;
  color: var(--color-foreground);
  width: 100vw;

  display: grid;
  justify-items: center;
}

.container {
  margin: 0;
  min-width: 80%;
  min-height: 100vh;
  background-color: var(--color-background);

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-flow: column;
}

.project-sidebar {
  background-color: var(--color-background-alt);
  width: 100%;
  height: 100%;
  /* transition: all 0.5s ease; */
  top: 0;
  color: var(--color-foreground);
  font-size: 3rem;
}

.logo-name-wrapper {
  margin-bottom: 2.1rem;
  display: grid;
  font-size: 4rem;
  font-weight: 600;
  place-items: center;
}
.logo-name {
  margin-top: 1rem;

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr; 
  place-items: center;
}
.logo-name__name {
  margin-left: 0.9rem;
  white-space: nowrap;
}
.logo-name__icon {
  height: 80%;
}
.project-list {
  padding-top: 2.1rem;
  padding-bottom: 0.9rem;
  padding-left: 0.9rem;
  list-style: none;
  font-size: 2rem;
  font-weight: 500;
}
.project-header {
  padding-top: 2.1rem;
  padding-bottom: 0.9rem;
  padding-left: 0.9rem;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.8rem;
  margin-bottom: 1.3rem;
  white-space: nowrap;
}
.project-item {
  position: relative;
  padding: 0.9rem 1.1rem;
  line-height: 1.8rem;
  cursor: pointer;
  white-space: nowrap;
}
.project-item-status {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  border: none;
  /* NOTE: bgcolor to be override via inline style from dom-controller */
  background-color: var(--color-orange);
  display: inline-block;
}
.project-item-number {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
/* background color in inline style */
.project-add {
  display: grid;
  place-items: center;
  height: 4rem;
}
.project-add > img {
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
}
